.intro-header {
    background-image: linear-gradient(0,#8496D7,#5B6DAB);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.intro-header__navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro-header__navbar-list {
    list-style: none;
    padding-left: 0;
    display:  flex;
    align-items: center;
    position: relative;
}


.intro-header__navbar-item {
    margin: 4px 32px;
    font-size: 1.8rem;
}

.intro-header-logo {
    padding: 6px 0;
    display: flex;
    align-items: center;
}

.intro-header-link {
    text-decoration: none;
    display: inline-block;
}


.homeP-header-img,
.intro-header-img {
    height: 48px;
    width: auto;
    padding-bottom: 4px;
    background-image: linear-gradient(0,#3f5dcc,#cc4081)

}

.intro-header__navbar-item span {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-left: 8px;
    text-shadow: 2px 2px 5px red;
}

.header__navbar-item--separate {
    position: relative;
    top: -1px;
    font-size: 2.4rem;
    color: var(--text-color);
}

.intro-header-slider {
    /* margin: 70px; */
    padding-top: 50%;/*chiều cao = 50% chiều ngang của chính ảnh*/
    background: url('/assets/img/intro_background.jpg') top center / cover no-repeat;
}


/* Form đăng ký */

.auth-form {
    width: 500px;
    border-radius: 5px;
    
}

.auth-form__container {
    padding: 0 32px;
    position: relative;
}

.auth-form__close {
    position: absolute;
    font-size: 1.6rem;
    right: 10px;
    top: 8px;
    padding: 8px;
    cursor: pointer;
}

.auth-form__header {
    display: flex;
    justify-content: center;
    padding: 32px 32px 24px;
}


.auth-form__header-text {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin: 8px 0;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #999;
}

.invalid-password {
    font-size: 1rem;
    color: red;
    position: relative;
    left: 1px;
    top: 5px;
    display: none;
}

.invalid-password-not-coincidence {
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    left: 2px;
    color: red;
    display: none;
}

.auth-form__outside {
    margin-top: 16px;
}

.auth-form__outside-text {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    padding: 0 12px;
}

.auth-form__outside-text-link {
    color: #007BFF;
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 12px;
}


.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.auth-form__socials-img {
    width: 18px;
    height: 18.13px;
    margin-left: 8px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    margin-left: 8px;
}

.auth-form__socials-title {
    margin: 0 32px;
}

.auth-form__socials--fb {
    background-color: #3A5A98; 
    color: var(--white-color);
}

.auth-form__socials--gg {
    color: #666;
    background-color: var(--white-color);
}

/* Đăng nhập */
.auth-form__help-forgot {
    font-size: 1.3rem;
    float: right;
    text-decoration: none;
}

.auth-form__sign-in {
    margin-top: 38px;
    font-size: 1.4rem;
    text-align: center;
}

.auth-form__sign-in-link {
    margin-left: 4px;
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls-link {
    text-decoration: none;
}

/* home page */
.homeP-header {
    background-image: linear-gradient(0,#8496D7,#5B6DAB);
    
    height: 64px;
}

.homeP-header__navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeP-header__avatar {
    padding: 8px 0;
}

.homeP-header-text {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-left: 8px;
    text-shadow: 2px 2px 5px red;
}

.homeP-header__item {
    display: flex;
    align-items: center;
}

.homeP-header__item-noti:hover .homeP-header-notify-wrap {
    display: block;
}

.homeP-header__item-noti {
    margin-left: 990px;
}

.homeP-header-notify-wrap {
    position: absolute;
    top: calc(100% + 8px);
    right: 10px;
    width: 404px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowwth ease-in 0.3s;
    will-change: opacity, transform;
    z-index: 3;
    display: none;
}

@keyframes headerNotifyGrowwth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.homeP-header-notify-wrap::before {
    position: absolute;
    content: "";
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -30px;
    right: 20px;
}

.homeP-header-notify-wrap::after {
    position: absolute;
    content: "";
    display: block;
    width: 80%;
    height: 12px;
    top: -8px;
    right: 0;
}

.homeP-header-notify-header {
    height: 40px;
    background-color: var(--white-color);
    border-radius: 10px;
}

.homeP-header-notify-header span {
    color: #999;
    margin: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.homeP-header-notify-list {
    max-height: 56vh;
    overflow-y: auto;
}

.homeP-header-notify-item {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.homeP-header-notify-item:hover {
    background-color: #f7f7f7;
}

.homeP-header-notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
    width: 100%;
}

.homeP-header-notify-info {
    margin-left: 4px;
}

.homeP-header-notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height: 1.8rem;
    font-weight: 400;
    margin-bottom: 4px;
}

.homeP-header-notify-minute {
    display: block;
    font-size: 1.2rem;
    color: #888;
}

.homeP-header-notify--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.homeP-header-notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    padding: 14px 0;
}

.homeP-header-notify-footer-btn:hover {
    color: var(--primary-color);
}

.homeP-header__user {
    position: relative;
    display: flex;
    align-items: center;
}

.homeP-header__user:hover {
    cursor: pointer;
}

.homeP-header-notify {
    margin: 0 32px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);  
    position: relative;  
}

.homeP-header-icon {
    font-size: 1.8rem;
    margin: 0 4px;
    position: relative;
}

.homeP-header-notify-qty {
    position: absolute;
    right: -6px;
    top: -8px;
    font-size: 1rem;
    font-weight: 200;
    padding: 4px;
    background-color: #dc3131;
    border-radius: 50%;
}

.homeP-header-notify-img,
.homeP-header-user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin: 0 8px;
}

.homeP-header-user-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white-color);
}

.homeP-header__user:hover .homeP__navbar-user-menu{
    display: block;
}

.homeP__navbar-user-menu {
    position: absolute;
    list-style: none;
    right: 8px;
    top: calc(100% + 6px);
    width: 160px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
    display: none;
}

.homeP__navbar-user-menu::before {
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;   
    border-style: solid;
    top: -28px;
    right: 14px;
}

.homeP__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 8px;
    right: 0;
    top: -8px;
}

.homeP__navbar-user-item {
    padding: 12px;
}

.homeP__navbar-user-item:hover {
    background-color: #fafafa;
}

.homeP__navbar-user-item a{
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    color: var(--text-color);
}

/* content home Page*/
.homeP-container {
    background-color: #F5F5F5;
}

.homePcontent {
    padding: 36px 0;    
}

.HomeP__category {
    width: 170px;
    background-color: var(--white-color);
    height: 100%;
    
}

.HomeP__category-list {
    list-style: none;
   
}

.HomeP__category-list a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
}

.HomeP__category-item {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.HomeP__category-item:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.HomeP__category-icon {
    font-size: 1.4rem;
    margin-left: 8px;
}

.HomeP__category-desc {
    font-size: 1.6rem;
    margin-left: 16px;
    color: var(--text-color);
}

/* schedule */ 

.homeP-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.backPage {
    font-size: 1.5rem;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.homeP__title {
    font-size: 1.8rem;
    color: #F54035;
    position: relative;
}

.homeP__title:hover {
    color: rgb(245, 64, 53, 0.5);
    cursor: pointer;
}

.homeP__title:hover .homeP__workspace-list {
    display: block;
}

.homeP__workspace-list {
    width: 120px;
    font-size: 1.4rem;
    font-weight: 400;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: 2px 2px 5px rgb(189, 189, 189);
    position: absolute;
    z-index: 2;
    top: calc(100% + 5px);
    display: none;
    border-radius: 3px;
}

.homeP__workspace-item {
    position: relative;
    padding: 12px 12px 12px 40px;
    color: var(--text-color);
}

.homeP__workspace-item:nth-child(1)::after {
    content: "";
    position: absolute;
    border-width: 8px 8px;
    border-color: var(--study-color) var(--entertain-color) var(--work-color) #a9f499;   
    border-style: solid;
    top: 12px;
    left: 15px;
}

.homeP__workspace-item:nth-child(2)::after {
    content: "";
    position: absolute;
    border-width: 8px 8px;
    border-color: var(--study-color);   
    border-style: solid;
    top: 12px;
    left: 15px;
}

.homeP__workspace-item:nth-child(3)::after {
    content: "";
    position: absolute;
    border-width: 8px 8px;
    border-color: var(--entertain-color);   
    border-style: solid;
    top: 12px;
    left: 15px;
}


.homeP__workspace-item:nth-child(4)::after {
    content: "";
    position: absolute;
    border-width: 8px 8px;
    border-color: var(--work-color);   
    border-style: solid;
    top: 12px;
    left: 15px;
}

.homeP__workspace-item:hover {
    background-color: var(--primary-color);
}

.homeP__workspace-item a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    
}

.homeP__workspace-list::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -8px;
}
.homeP__workspace-new {
    display: flex;
    align-items: center;
}

.homeP__workspace-new i {
    position: absolute;
    top: 9px;
    left: 13px;
    font-size: 1.4rem;
    padding: 2px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.homeP__workspace-new span {
    margin-left: -1px;
}

.homeP__search {
    display: flex;
    height: 36px;
    width: 700px;
}

.homeP__search-input-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.homeP__search-input {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    font-size: 1.3rem;
}

.homeP-btn-search {
    height: 100%;
    width: 60px;
    border-radius: 3px;
    outline: none;
    background-color: var(--primary-color);
}

.homeP-btn-search:hover {
    cursor: pointer;
    opacity: 0.8;
}

.homeP__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* search history */
.homeP__search-history {
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    top: calc(100% + 2px);
    box-shadow: 0 1px 5px rgb(189,189,189);
    border-radius: 3px;
    z-index: 2;
    display: none;
}

.homeP__search-history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    margin: 10px 10px 6px;
}

.homeP__search-history-list {
    list-style: none;
    margin-top: 10px;
}

.homeP__search-history-item {
    height: 38px;
    padding: 0 8px;
}

.homeP__search-history-item a {
    text-decoration: none;
    line-height: 38px;
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
}

.homeP__search-history-item:hover {
    background-color: #fafafa;
}

.homeP__search-input:focus ~ .homeP__search-history {
    display: block;
}

/* schedule */ 
.homeP__schedule {
    display: flex;
    background: var(--white-color);
    min-height: 50vh;
    padding: 0 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.schedule__contaier {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 0 1px 5px rgb(189,189,189); */
}

.schedule__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px;
}

.schedule__datemonth {
    display: flex;
    align-items: center;
}


.schedule__current-date {
    font-size: 1.6rem;
    font-weight: 500;
}

.schedule__navigation {
    margin-left: 8px;
}

.schedule__navigation i {
   font-size: 1.2rem;
   padding: 2px;
   cursor: pointer;
}

.schedule__select {
    display: flex;
}

.schedule__select-list {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

.schedule__select-item {
    width: 56px;
    height: 30px;
    margin: 0 10px;
    box-shadow: 0 1px 5px rgb(189,189,189);
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}

.create__task2.work_long {
    padding:  8px;
    margin-left: 24px;
    font-size: 1.3rem;
    background-color: var(--white-color);
    outline: none;
    border: 1px solid var(--border-color);
}

.create__task2.work_long:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.create__task {
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin-left: 8px; 
}

.teamP-member {
    margin-left: 16px;
}

.teamP-member-icon {
    position: relative;
    top: 2px;
}

.create__task::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--primary-color);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.create__task:hover::before {
    scale: 3;
}

.create__task:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
    cursor: pointer;
  }
  
  .create__task:active {
    scale: 1;
  }

.create__task-icon {
    font-size: 1.3rem;
}

.create__task span {
    font-size: 1.3rem;
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.schedule__select-item:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.schedule__body {
    padding: 12px;
}

.schedule__body ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.schedule__body li {
    width: calc(100% / 7);
    font-size: 1.3rem;
    color: var(--text-color);
}

.schedule__weekdays {
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
}

.schedule__day-name {
    cursor: default;
    font-weight: 500;
}


.schedule__dates li {
    padding: 40px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 204, 0.4);
}

.schdule-date-text {
    position: absolute;
    top: 3px;
    left: 5px;
}

.schedule__dates li.inactive {
    color: rgb(170, 170, 170, 0.7);
}

.schedule__dates li.active {
    color: #fff;
}

.schedule__dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.schedule__dates li.active::before {
    background-color:  #b7d4f0;
}

.schedule__dates li:not(.active):hover::before {
    background-color: rgb(228, 225, 225, 0.4);
}

/* screen add task */

.homeP-form__create {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.2);
    z-index: 1;
    display: flex;
    animation: growth ease-in 0.1s;
    z-index: 3;
}

.homeP-form__create-content {
    position: relative;
    width: 500px;
    margin: auto;
    background-color: var(--white-color);
}

.close-form__create {
    position: absolute;
    font-size: 1.4rem;
    right: 9px;
    top: 8px;
    cursor: pointer;
}

.homeP-form__create-name {
    font-size: 1.5rem;
    margin-top: 16px;
    text-align: center;
}

.homeP-form__create-form {
    margin: 12px 32px;
}

.homeP-form__create-form input {
    outline: none;
}

.homeP-form__create-for-isLongTask {
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.homeP-form__create-for-isLongTask input {
    height: 18px;
    width: 18px;
}

.homeP-form__create-for-isLongTask label {
    margin-left: 4px;
    position: relative;
    top: -3px;
}

.homeP-form__create-title {
    font-size: 1.3rem;
    width: 100%;
    padding: 6px 8px 4px;
    margin-bottom: 16px;
}


.homeP-form__create-time {
    list-style: none;
    font-size: 1.3rem;
}
.homeP-form__create-time-item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeP-form__create-time-item input {
    flex-grow: 1;
    padding: 6px 8px 4px;
}

.homeP-form__create-time-item i {
    font-size: 1.3rem;
    margin: 0 8px;
}


.homeP-form__create-desc input{
    width: 100%;
    padding: 6px 8px 4px;
    font-size: 1.3rem;
    height: 90px;
}

.homeP-form__create-footer {
    display: flex;
    margin: 16px 0 18px;
    justify-content: space-between;
    position: relative;
}

.homeP-form__create-remind {
    padding: 6px 8px 4px;
    font-size: 1.3rem;
}

.homeP-form__create-remind-icon {
    position: absolute;
    left: 150px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.remind-list {
    list-style: none;
    font-size: 1.2rem;
    animation: growth ease-in 0.1s;
    display: none;
}

.remind-item {
    padding: 6px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.remind-item:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.homeP-form__create-btn {
    font-size: 1.4rem;
}

/* Info user */

.homeP__info-user {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
}

.info-user__container {
    margin: auto;
    width: 800px;
    background-color: var(--white-color);
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
    border-radius: 4px;
    animation: headerNotifyGrowwth ease-in 0.3s;
}
.info-user__containe-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 72px;
}

.info-user__content-list {
    list-style: none;
    font-size: 2rem;
}

.info-user__content-item {
    display: flex;
    margin-top: 42px;
}

.info-user__content-item:nth-child(1)  span{
   margin-left: 56px;
}
.info-user__content-item:nth-child(2)  span{
    margin-left: 50px;
 }

 .info-user__content-item:nth-child(3)  span{
    margin-left: 65px;
 }

 .info-user__content-item:nth-child(4)  span{
    margin-left: 24px;
 }

 .info-user__content-item:nth-child(5)  span{
    margin-left: 84px;
 }

 
 .info-user__content-item:nth-child(6)  span{
    margin-left: 95px;
 }

 .info-user__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .info-user-name {
    font-size: 2.4rem;
    margin-top: 12px;
 }

.info-user-img {
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    background-color: #dc3131;
}

.info-user__control {
    font-size: 2.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 64px;
}

.info-user__control-btn {
    padding: 14px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 24px;
    margin-left: 8px;
}

.info-user__control-btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Thống kê */

.homeP__statistic {
    display: flex;
}

.homeP__statistic-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 16px 24px;
}

.homeP__statistic-header h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.homeP__statistic-header span {
    font-size: 1.6rem;
    font-weight: 400;
}

.homeP__statistic-doughnutChart {
    position: relative;
}

#my-canvas {
    margin-top: 16px;
    border: 1px solid var(--border-color);
}

.homeP__statistic-total {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% - 2px);
    right: calc(40% - 4px);
}

.homeP__statistic-barchart {
    position: relative;
    top: 64px;
}

.homeP__statistic-time {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    position: relative;
}

.homeP__statistic-item{
    display: flex;
    align-items: center;
    margin-left: 32px;
    padding: 8px;
    border: 1px solid var(--border-color);
}

.homeP__statistic-item i {
    margin-left: 12px;
}

.homeP__statistic-item i:hover {
    cursor: pointer;
}

.homeP__statistic-time-select {
    font-size: 1.6rem;
    padding: 8px;
    border: 1px solid var(--border-color);
    width: 136px;
    position: absolute;
    top: 34px;
    left: calc(25%);
    display: none;
    cursor: pointer;
}

/* footer */

.homeP-social {
    margin: 32px 0 20px 0;
    font-size: 1.6rem;
    text-align: center;
}

.social___des {
    position: relative;
    margin-bottom: 24px;
}

.social___des::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #777;
    display: block;
    width: 40px;
    height: 2px;
}

.social-icon {
    padding: 8px;
    margin: 0 12px;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: background-color 1s;
}

.social-icon:hover {
    cursor: pointer;
    background-color: #333;
    color: var(--white-color);
}



.footer__text {
    font-size: 1.5rem;
    text-align: center;
    margin: 12px 0;
}

/* team */
/* control team */

.teamP-control-list {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.teamP-control-item {
    padding: 8px;
    margin-left: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 5px rgb(189,189,189);
}

.teamP-control-item:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* list team */
.teamP-myteam {
    margin-bottom: 10px;
}

.longTask__container,
.teamP-myteam-item {
    display: block;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    padding: 10px 0;
}

.longTask__container:hover,
.teamP-myteam-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.teamP-myteam-item i {
    font-size: 1.5rem;
    margin-left: 256px;
}
.teamP-myteam-item__img {
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.teamP-myteam-item__name {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 16px 0;
}

/* join team with code */
.teamP-join-with-code {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    display: none;
}

.teamP-code__content {
    margin: auto;
    width: 400px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    animation: headerNotifyGrowwth ease-in 0.3s;
    overflow: hidden;
}

.teamP-code__content h3 {
    padding: 8px;
    background-color: var(--primary-color);
}

.teamP-code__content input {
    padding: 8px 32px;
    margin-top: 16px;
    margin-left: 90px;
}

.teamP-code__control {
    list-style: none;
    display: flex;
    margin: 16px 16px 0 0;
    justify-content: flex-end;
}

.teamP-code__control-item {
    padding: 6px;
    border-radius: 3px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    margin-right: 6px;
    margin-bottom: 16px;
}

.teamP-create-control-item:hover,
.teamP-code__control-item:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* create team */

.teamP-create-team {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.teamP-create-team__container {
    margin: auto;
    width: 400px;
    background-color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 4px;
    animation: headerNotifyGrowwth ease-in 0.3s;
    position: relative;
    overflow: hidden;
}

.teamP-create-team__container h3 {
    padding: 8px;
    background-color: var(--primary-color);
    margin-bottom: 24px;
}

.teamP-create-team__container input {
    display: block;
    padding: 8px;
    width: 90%;
    margin: 16px 0 8px 16px;
    outline: none;
}

.teamP-create-control {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 16px 14px;
}

.teamP-create-control-item {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-right: 8px;
}

.teamP-create-team__access {
    position: relative;
    margin-bottom: 36px;
}

.teamP-select-icon {
    position: absolute;
    right: 33px;
    bottom: 12px;
    cursor: pointer;
}

.teamP-create-list {
    list-style: none;
    animation: growth ease-in 0.3s;
    display: none;
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
}

.teamP-create-list__item {
    width: 90%;
    padding: 6px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    margin-left: 16px;
    margin-top: 1px;
    cursor: pointer;
}

.background--active {
    background-color: var(--primary-color);
}

/* thêm task mới */
.teamP__task {
    /* position: absolute;
    z-index: 2;
    top: calc(47% + 32px);
    left: calc(40% + 29px); */
}

/* chi tiết công việc nhóm */
.teamP-detail-task {
    position: absolute;
    top: calc(50% + 20px);
    left: 240px;
}

.homeP-detail-screen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 2;
    display: none;
}

.homeP-detail-screen__container {
    width: 600px;
    margin: auto;
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 4px;
    overflow: hidden;
}

.homeP-detail-screen__container h3 {
    padding: 8px;
    text-align: center;
    background-color: var(--primary-color);
}

.homeP-detail-screen__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 20px;
}

.homeP-detail-screen__name span:nth-child(2) {
    margin-left: 8px;
}

.homeP-detail-screen__wrap {
    display: flex;
    align-items: center;
}

.homeP-detail-screen__btn-comment {
    font-size: 2.4rem;
    margin: 0 10px;
    position: relative;
}

.homeP-detail-screen__btn-comment span{
    font-size: 1rem;
    font-weight: 200;
    padding: 4px;
    color: var(--white-color);
    background-color: #dc3131;
    border-radius: 48%;
    position: absolute;
    top: -4px;
    right: -2px;
}

.homeP-detail-screen__btn-comment:hover {
    opacity: 0.5;
    cursor: pointer;
}

.homeP-detail-screen__btnAdd {
    padding: 6px;   
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-right: 12px;
}

.homeP-detail-screen__btnAdd i {
    margin-right: 2px;
    font-size: 1.2rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
}

table, td, th {
    border: 1px solid var(--border-color);
}

td {
    text-align: center;
}

td,th {
    padding: 10px 0;
}

.homeP-detail-screen__btnDone {
    padding: 8px;
    border: 1px solid var(--border-color);
    display: inline-block;
    border-radius: 3px;
    float: right;
    margin: 16px 5% 16px 0;
}

.homeP-detail-screen__btnAdd:hover,
.homeP-detail-screen__btnDone:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.teamP_checkDone {
    padding: 6px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    color: green;
    background-color: var(--white-color);
}

td .teamP_overdue {
    color: red;
    display: none;
}

.teamP-screen__member {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    display: none;
}

.teamP-screen__member-container {
    margin: auto;
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    animation: headerNotifyGrowwth ease-in 0.3s;
    padding: 24px;
    width: 300px;
    border-radius: 5px;
    position: relative;
}

.teamP-screen__member-close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.teamP-manager-member {
    list-style: none;
}

.teamP-manager-item {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    margin: 8px 0;
}

.normal-member span{
    display: block;
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    margin: 8px 0;
}

.normal-member span:nth-child(1) {
    padding: 0;
    border: none;
}

.teamP-add__member-btn {
    padding: 6px;
    border: 1px solid var(--border-color);
    display: inline-block;
    margin-top: 6px;
    float: right;
    border-radius: 4px;
}

.teamP-add__member-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

/* add member screen */

.teamP__addmember {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    display: none;
}

.teamP__addmember-container {
    margin: auto;
    background-color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    animation: headerNotifyGrowwth ease-in 0.3s;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.teamP__addmember-container h3 {
    text-align: center;
     padding: 8px;
     background-color: var(--primary-color);
}

.teamP__addmember-form {
    margin: 16px;
    width: 100%;
}

.teamP__addmember-form input {
    width: 90%;
    padding: 12px 4px;
    margin: 8px 0;
}


.teamP__addmember-form input:nth-child(2) {
    padding-bottom: 32px;
}

.teamP__addmember-btnControl {
    display: flex;
    justify-content: flex-end;
    margin: 8px 18px 16px 16px;
}

.teamP__addmember-btn {
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-left: 8px;
}

.teamP__addmember-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

/* help Page */

.helpP__header-head::first-letter {
    font-size: 3rem;
}

.helpP__header-head span {
    color: var(--white-color);
    text-shadow: 2px 2px 5px red;
}

.helpP__header-thank {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 24px 0;
}

.helpP__list {
    font-size: 1.4rem;
    list-style: none;
}

.help__item {
    font-weight: bold;
    line-height: 1.6;
}

.help__item-desc {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 16px;
}

.help__item-screen {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px 0;
}

.help__item-img-team {
    width: 560px;
}

.help__item-img:nth-child(1) {
    margin-right: -200px;
}

.help__item-img:nth-child(2) {
    width: 1000px;
    height: 247px;
    object-fit: contain;
}

.help__item-screen-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 12px 0;
    border: 1px solid #ccc;
    background-color: var(--white-color);
    border-top-left-radius: 20px;

}

.help__item-screen-detail img {
    width: 70%;
}

.help__item-screen-detail span {
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 12px;
    width: 209px;
}

/* chat */

.teamP-chat {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    display: none;
}

.teamP-chat__container {
    width: 800px;
    background-color: var(--white-color);
    max-height: 56vh;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}


.teamP-chat__head {
    display: flex;
    font-size: 1.4rem;
    font-weight: 400; 
    padding: 0 16px;
    justify-content: space-between;   
    align-items: center;
    /* margin: 16px 0; */
    height: 60px;
    position: sticky;
    top: 0;
    background-color:  #f5f5f5;
}

.teamP-chat__container span {
    padding: 0px 4px;
    border-radius: 60%;
    font-size: 1rem;
    background-color: green;
    position: relative;
    bottom: 1px;
    margin-right: 3px;
}

.teamP-chat__controll-item {
    font-size: 1.4rem;
    margin: 0 8px;
}

.teamP-chat__controll-item:hover {
    cursor: pointer;
    opacity: 0.7;
}

.teamP-chat__flow {
    list-style: none;
}

.teamP-chat__flow-item {
    margin: 16px 0;
}

.teamP-chat__flow-role {
    font-size: 1.2rem;
    color: rgb(51, 51, 51, 0.7);
    margin-bottom: 3px;
    margin-left: 12px;
}


.teamP-chat__flow-content {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 2px;
    
}

.teamP-chat__flow-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin: 0 8px;
}

.teamP-chat__flow-mess {
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    max-width: 400px;
}

.teamP-chat__flow-item-seen {
    float: left;
    margin: 0;
    position: relative;
    top: -6px;
    left: 10px;
}

.teamP-chat__flow-avatar-seen{
    width: 16px;
    height: 16px;
    margin: 0 2px;
    
}

.teamP-chat__flow-role-me {
    display: none;
}

.teamP-chat__flow-content-me {
    margin: 14px 0px 0 0;
    margin-left: 569px;
    max-width: 180px;
}

.teamP-chat__flow-content-me .teamP-chat__flow-mess {
    background-color: var(--primary-color)
}

.teamP-chat__form {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background-color:  #f5f5f5;
    padding: 12px 0;
}

.teamP-chat__form-file {
    margin: 0 12px;
}

.teamP-chat__form-input {
    width: 100%;
    position: relative;
}

.teamP-chat__form-input input {
    width: calc(95% + 6px);
    padding: 6px;
    outline: none;
    border-radius: 10px;
}

.teamP-chat__form i {
    font-size: 2rem;
}

.teamP-chat__form i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.teamP-chat__form-input i {
    position: absolute;
    right: 40px;
    top: 7px;
    font-size: 1.7rem;
}

.teamP-chat__form-like  i {
    font-size: 2.2rem;
    position: relative;
    right: 12px;
    top: 0;
}

.teamP-chat__form-file input {
    display: none;
}

.teamP-chat__file-share {
    background-color: var(--white-color);
    max-height: 56vh;
    width: 250px;
    position: absolute;
    top: 158px;
    right: 90px;
    height: 56vh;
    display: none;
}

.teamP-chat__file-share header {
    font-size: 1.4rem;
    text-align: center;
    margin: 16px 0;
}

.teamP-chat__file-body {
    display: flex;
    flex-direction: column;
}

/* file upload */
.file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    margin: 6px 12px;
  }
  
  .file-upload-label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #e4e6eb;
    color: #4b4f56;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .file-upload-icon {
    margin-right: 8px;
  }
  
  .file-upload-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }
  
/*  thêm giai đoạn */

.teamP-addnew-stage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
}

.teamP-stage__container {
    margin: auto;
    background-color: var(--white-color);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: var(--text-color);
    border-radius: 6px;
    animation: headerNotifyGrowwth ease-in 0.3s;
}

.teamP-stage__close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.3rem;
    cursor: pointer;
}

.teamP-stage__container h3 {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin: 12px 0;
}  

.teamP-stage__container .teamP-stage-label {
    font-size: 1.4rem;
    padding-left: 10px;
    position: absolute;
    top: 76px;
    transition: 0.3s;
    pointer-events: none;
    margin-left: 28px;
}

.teamP-stage__container .teamP-stage-label2 {
    position: absolute;
    top: 149px;
}
  
.teamP-stage__input {
    width: 85%;
    height: 36px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: var(--text-color);
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
    margin: 18px 0 12px 28px;
  }
  
  .teamP-stage__input:focus {
    border: 2px solid transparent;
    color: var(--text-color);
    /* box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4); */
  }

  .teamP-stage__container .teamP-stage__input:valid ~ .teamP-stage-label,
  .teamP-stage__container .teamP-stage__input:focus ~ .teamP-stage-label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-30px);
  }

.teamP-stage-time {
    margin: 12px 0 0 28px;
    font-size: 1.3rem;
    width: 85%;
    display: flex;
    align-items: center;
}

.teamP-stage-time input {
    height: 30px;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
    outline: none;
    border-radius: 6px;
    flex-grow: 1;
    padding: 8px;
}

.teamP-stage-time i {
    font-size: 1.5rem;
    margin: 0 12px;
}

.teamP-stage-controll {
    font-size: 1.4rem;
    margin: 16px 0;
    
}
  
.teamP-stage-done {
    padding: 8px;
    border: 1px solid var(--border-color);
    display: inline-block;
    float: right;
    margin-right: 32px;
    border-radius: 6px;
    background-color: var(--primary-color);
}

.teamP-stage-done:hover {
    cursor: pointer;
   opacity: 0.8;
}

/* công việc dài */
.homeP__longTask {
    display: none;
}

.longTask__container {
    font-size: 1.4rem; 
    /* clip-path: polygon(0% 0%, 93% 0%,100% 10%, 100% 100%, 0 100%); */
    /* background-color: var(--work-color); */
    /* overflow: hidden; */
    border-top-right-radius: 30px;
    padding-top: 10px;
}


.longTask__name {
    font-size: 1.6rem;
    font-weight: 450;
    text-align: center;
    margin: 12px;
}

.longTask__time {
    font-size: 1.4rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.longTask__date {
    flex-grow: 1;
    margin-left: 28px;
    margin-bottom: 12px;
}

.longTask__rating,
.longTask__remind,
.longTask__location {
    margin: 0 0 12px 28px;
}

.longTask__assess {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.longTask__rating {
   
    font-size: 1rem;
    transform-origin: right;
    color: #D5D5D5;
}

.longTask__star--gold {
    color: var(--star-gold-color);
}

.longTask-controll {
    margin-right: 35px;
    display: flex;
}

.longTask-controll h4 {
    font-weight: 400;
    margin-right: 8px;
}

.longTask-controll i {
    color: green;
    font-size: 1.5rem;
}

.longTask__member {
   display: flex;
   align-items: center;
    margin: 0 0  12px 28px;
}

.longTask__member-item {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

/* gấp giấy */

.longTask__container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid var(--study-color);
}

.longTask__container--color::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid var(--work-color);
}

.longTask__container--color2::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid var(--entertain-color);
}

.longTask__container--color3::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid var(--btn-color);
}

.longTask__favourite {
    position: absolute;
    top: 2px;
    left: -4px;
    color: var(--btn-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.longTask__favourite span{
    color: var(--white-color);
}

.longTask__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.longTask__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);
}

.back-to-calender {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}